body{
font-family:Arial;
margin:0;
background:#f5f7fb;
}

header{
background:#0f766e;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.page{
padding:40px;
text-align:center;
}

.bin-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:30px;
}

.bin-card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.bar{
height:15px;
background:#ddd;
border-radius:20px;
overflow:hidden;
margin:10px 0;
}

.level{
height:100%;
}

.red{
width:90%;
background:red;
}

.orange{
width:60%;
background:orange;
}

.green{
width:25%;
background:green;
}

.report-form{
display:flex;
flex-direction:column;
width:350px;
margin:auto;
}

input,textarea{
margin:10px 0;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#0f766e;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

.contact-box{
background:white;
padding:20px;
margin:20px auto;
width:300px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

footer{
background:#111;
color:white;
text-align:center;
padding:10px;
margin-top:40px;
}
