body{
font-family:Poppins;
margin:0;
background:#f4f6f9;
}

header{
background:#0f766e;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#ccfbf1;
padding:60px;
text-align:center;
}

button{
padding:10px 20px;
background:#0f766e;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#status{
padding:40px;
text-align:center;
}

.bin-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.bin{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

.progress{
background:#ddd;
height:15px;
border-radius:20px;
overflow:hidden;
margin:10px 0;
}

.level{
height:100%;
}

.full{
width:90%;
background:red;
}

.medium{
width:60%;
background:orange;
}

.low{
width:20%;
background:green;
}

#report{
padding:40px;
text-align:center;
background:#ecfeff;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
}

input,textarea{
margin:10px 0;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

footer{
background:#111;
color:white;
text-align:center;
padding:10px;
}
